@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.entry-name {
    font-size: calc(20px + 2vmin);
    margin-bottom: 1px;
    padding-bottom: 0px;
    font-family: Montoon;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.tap-no-text {
    font-size: calc(12px + 2vmin);
}

.tap-number {
    font-size: calc(20px + 2vmin);
    font-weight: bold;
    border-right: solid;
    border-width: 1px;
}

.tap-entry {
    border: solid;
    border-width: 1px;
    margin: 5px;
    border-radius: 50px;
}

.beer-description {
    font-size: calc(8px + 2vmin);
    font-style: italic;
}

.brewed-on, .kegged-on {
    font-size: calc(6px + 2vmin);
    font-style: italic;
}

.beer-stat {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
