.entry-name {
    font-size: calc(20px + 2vmin);
}

.tap-number {
    font-size: calc(20px + 2vmin);
    font-weight: bold;
    border-right: solid;
    border-width: 1px;
}

.tap-entry {
    border: solid;
    border-width: 1px;
    margin: 5px;
}

.beer-description {
    font-size: calc(8px + 2vmin);
    font-style: italic;
}

.brewed-on, .kegged-on {
    font-size: calc(6px + 2vmin);
    font-style: italic;
}

.beer-stat {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
